<h1>Listing purchases</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.description %></td>
        <td><%#= link_to 'Show', purchase %></td>
        <td><%#= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%#= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if purchase.split %>
          <td><%= link_to 'Split', new_purchase_split_path(purchase) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_receipt_purchase_path(@receipt) %>
